[DATABASE]
dbname = location
dbuser = postgres
dbpass =
dbhost = localhost

[PHONE]
ip =
user =
pass =
port =
key =

[SERVER]
address = localhost
port = 5000

[GMAP]
apikey =

[LOGGING]
level = WARNING
path = /var/log/spothecat.log

[OTHER]
period = 15
