{% extends "layout.html" %}
{% block title %}Spot the cat - Access List{% endblock %}
{% block body %}
<div class="adduser">
  <form action='adduser' method='POST' class="form-container">
          <input type='text' name='username' id='username' placeholder='username'/>
          <input type='password' name='password' id='password' placeholder='password'/>
          <button type='submit'>Добавить пользователя</button>
  </form>
</div>

<div style='margin-top: 70px;'>
  <h1>Список пользателей</h1>
  <table>
    <tr><td>Имя пользователя</td><td>Пароль</td><td>Роль</td><td>Активный</td>
    {% for user in users_list %}
            <tr><td>{{ user[0] }}</td><td>{{ user[1] }}</td><td>{{ user[2] }}</td><td>{{ user[3] }}</td></tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
